@{
    ViewBag.Title = "Home";
}
<div class="jumbotron">
    <h1>Assignment 6 - astinziani</h1>
    <p class="lead">Dark themed ASP.NET MVC app with Individual User Authentication for security, Data Models designed using Entity Framework to structure the persistence layer for storing non-text media.</p>
    <p><a href="https://astinziani-wa-web524-a6.azurewebsites.net" class="btn btn-primary btn-lg">Assignment 6 on Azure &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About this project</h2>
        <p>Includes security-aware features such as ASP.NET Identity, User Accounts, Authentication &amp; Authorization.</p>
        <p>Role claims are defined by a design model class, and initialized during the "load data" task.</p>
        <p>The "load data" task should be protected so only authorized administrators can access it.</p>
        <p>This project includes a custom error page and implements ASP.NET error-handling.</p>
    </div>
    <div class="col-md-4">
        <h2>How to use this app</h2>
        <p>This app is used to create, store, display, update, and delete data related to Artists, Albums and Tracks.</p>
        <p>Artists must be added first, and then their released albums along with album tracks may be added.</p>
        <p>Rich text format information may be added for Artist Biographies and Album Summaries.</p>
        <p>Images, audio clips and documents can be uploaded as files for additional information about Artists.</p>
    </div>
    <div class="col-md-4">
        <h2>How to access this app's functionalities</h2>
        <p>You must be registered and logged in to view any information.</p>
        <p>Only those with the Executive role may add, edit and delete Artists.</p>
        <p>Only those with the Coordinator role may add, edit and delete Albums.</p>
        <p>Only those with the Clerk role may add, edit and delete Tracks.</p>
    </div>
</div>