@{
    ViewBag.Title = "About Assignment 1";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>Assignment 1 - Intro to ASP.NET</h1>
    <p class="lead">This ASP.NET web app will showcase learning of introductory content in WEB 524, and it's theme will attempt to replicate what is commonly called "Dark Mode"</p>
    <p><a target="_blank" href="https://asp.net" class="btn btn-primary btn-lg">Learn about ASP.NET &raquo;</a></p>
    <p><a target="_blank" href="https://www.forbes.com/uk/advisor/mobile-phones/what-is-dark-mode-and-should-you-be-using-it/" class="btn btn-primary btn-lg">Learn about Dark Mode &raquo;</a></p>
    <h1>About the Author</h1>
    <p>I'm Adam Stinziani, I'm in my final semester <a target="_blank" href="https://www.senecacollege.ca/">@@ Seneca College</a> this Summer 2021.</p>
    <p>My favourite course is WEB524.</p>
    <p>I like pizza.</p>
    <p><a target="_blank" href="https://alphatechnology.ca" class="btn btn-primary btn-lg">Learn about me &raquo;</a></p>
</div>