@{
    ViewBag.Title = "Assignment 1 @ astinziani";
}

<div class="jumbotron">
    <h1>Assignment 1 - Intro to ASP.NET</h1>
    <p class="lead">This ASP.NET web app will showcase learning of introductory content in WEB 524, and it's theme will attempt to replicate what is commonly called "Dark Mode".</p>
    <p><a target="_blank" href="https://asp.net" class="btn btn-default btn-lg">Learn about ASP.NET &raquo;</a></p>
    <p><a target="_blank" href="https://www.forbes.com/uk/advisor/mobile-phones/what-is-dark-mode-and-should-you-be-using-it/" class="btn btn-default btn-lg">Learn about Dark Mode &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start here</h2>
        <p>
            This ASP.NET MVC app contains a home, about &amp; contact View as well as employee Models &amp; Views with a Controller for creating, viewing, and updating employees.
        </p>
        <p><a class="btn btn-default" target="_blank" target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=301865">ASP.NET MVC &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Be more productive</h2>
        <p>
            The navigation bar at the top can be used to explore the app. The home, about &amp; contact pages contain their respective information. 
            When you navigate to the employees page, you will be presented with a list of employees, where you can add a new employee, or view or edit
            the details of an existing employee.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Main menu</h2>
        <p><a class="btn btn-default" target="_blank" href="/Home/About">About &raquo;</a></p>
        <p><a class="btn btn-default" target="_blank" href="/Home/Contact">Contact &raquo;</a></p>
        <p><a class="btn btn-default" target="_blank" href="/Employees">Employees &raquo;</a></p>
    </div>
</div>