@{
    ViewBag.Title = "Assignment 2 astinziani";
}

<div class="jumbotron">
    <h1>Assignment 2 - Associated Data in ASP.NET</h1>
    <p class="lead">This ASP.NET web app will showcase learning of working with associated data in WEB 524, and it's theme will attempt to replicate what is commonly called "Dark Mode".</p>
    <p><a target="_blank" href="https://asp.net" class="btn btn-default btn-lg">Learn about ASP.NET &raquo;</a></p>
    <p><a target="_blank" href="https://www.forbes.com/uk/advisor/mobile-phones/what-is-dark-mode-and-should-you-be-using-it/" class="btn btn-default btn-lg">Learn about Dark Mode &raquo;</a></p>
</div>